/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    /* --background-color: #f08080; */
    --background-color: #e83939;
    --font-color: #343a40;
    --font-color-hover: #212529;
    --container-color: #fdf1f1;
    --links-title-color: #ee3b4a;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 60%;
    height: 70%;

    background-color: var(--container-color);
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    overflow: hidden;
    padding: 2.4rem;
}

/********************/
/* TIME BOX         */
/********************/
.timeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 7.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 1;
}

.greeting-txt {
    font-size: 2rem;
}

/********************/
/* WEATHER BOX      */
/********************/
.date {
    display: flex;
    gap: 2rem;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1;
}

.weatherBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.weather-desc {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.temp {
    font-weight: 700;
}

.weather-icon {
    height: 6.4rem;
    /* background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
    ); */
    background: linear-gradient(to right bottom, #f58690, #f7a5ab);
    border-radius: 9px;
}

/********************/
/* LINKS BOX        */
/********************/

.linksBox {
    grid-column: 1 / -1;
    align-self: self-start;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 9.6rem;
}

.col-container {
    background-color: #e5dddd;
    padding: 3rem 0;
    width: 20rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 9px;
}

.col-title {
    color: var(--links-title-color);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.link:link,
.link:visited {
    color: var(--font-color);
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: #212529;
}

/* 
-- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
