/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    /* --background-color: #f08080; */
    --background-color: #e83939;
    --font-color: #495057;
    --container-color: #fdf1f1;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 60%;
    height: 70%;

    background-color: var(--container-color);
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    overflow: hidden;
    padding: 2.4rem;
}

/********************/
/* TIME BOX         */
/********************/
.timeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 7.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 1;
}

/********************/
/* WEATHER BOX      */
/********************/
.date {
    display: flex;
    gap: 2rem;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1;
}

.weatherBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.weather-desc {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.temp {
    font-weight: 700;
}

.weather-icon {
    height: 6.4rem;
    /* background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
    ); */
    background: linear-gradient(to right bottom, #f7a5ab, #fce1e3);
    border-radius: 9px;
}

.w-txt {
}

/********************/
/* LINKS BOX        */
/********************/
.linksBox {
}

/* 
-- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
